BEGIN;
--
-- Create model Project
--
CREATE TABLE "accounts_project" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name" varchar(100) NOT NULL, "description" text NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "owner_id" bigint NOT NULL);
--
-- Create model Task
--
CREATE TABLE "accounts_task" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "title" varchar(100) NOT NULL, "description" text NOT NULL, "completed" boolean NOT NULL, "assigned_to_id" bigint NULL, "project_id" bigint NOT NULL);
ALTER TABLE "accounts_project" ADD CONSTRAINT "accounts_project_owner_id_9e658e68_fk_accounts_customuser_id" FOREIGN KEY ("owner_id") REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "accounts_project_owner_id_9e658e68" ON "accounts_project" ("owner_id");
ALTER TABLE "accounts_task" ADD CONSTRAINT "accounts_task_assigned_to_id_02f93926_fk_accounts_customuser_id" FOREIGN KEY ("assigned_to_id") REFERENCES "accounts_customuser" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "accounts_task" ADD CONSTRAINT "accounts_task_project_id_7c96104d_fk_accounts_project_id" FOREIGN KEY ("project_id") REFERENCES "accounts_project" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "accounts_task_assigned_to_id_02f93926" ON "accounts_task" ("assigned_to_id");
CREATE INDEX "accounts_task_project_id_7c96104d" ON "accounts_task" ("project_id");
COMMIT;
